<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PhotoGrid</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/photogrid_utils.js"></script>
	<script>
		var host = '{{host}}';
		
		$(document).ready( function() {
			$('#doUpload').click(function(){
				uploadNow();
			});
		});
		
		var socket = io(host);
		
		socket.on('status', function(data){
			showStatus(data.msg, data.delay);
		});
		
		socket.on('doUpdate', function(){
			renderList(); // loads all images from the s3 bucket and re-render the html file
		});
		
		// function to render the images 
		function renderList(){
			// remove unordered list to re render the page
			$('.gallery ul').html('');
			// call /getimages route using ajax call
			ajax({
				url: host + '/getimages',
				success: function(data) {
					// data contains the result, and we are converting it into an array
					var imageList = JSON.parse(data.response);
					for(var i = 0; i < imageList.length; i++) {
					var str	= '<li>';
						str += 	'<div class="overlay">';
						str += 	'<div class="voteCtrl">';
						str +=	'<a href="#" class="voteUp" data-photoid=' + imageList[i]._id  +'>';
						str += 	'<img src="/images/voteup.png" alt="Click Here to Vote Up !">';
						str +=	'<h4>' + imageList[i].votes + '</h4>';
						str +=	'</a>';
						str +=	'<a href="#" class="delete btn btn-danger" data-photoid=' + imageList[i]._id  +'>';
						str += 	'<i class="icon-trash icon-white" width="35"> Delete </i>';
						str +=	'</a>'
						str +=	'</div>';
						str +=	'</div>';
						str +=	'<div class="thumbnail">';
						str += 	'<img src="https://d112jva1s3e701.cloudfront.net/' + imageList[i].filename + '"alt="">'; // use cdn instead of serving from s3
						str += 	'</div>';
						str +=  '</li>';
					
					// append the template to the ul element of gallery class
					$('.gallery ul').append(str);		
					}
				}
				
			})
		}
		
		// to load all imagess when the user requests for homepage
		renderList();
		
		// listen for click event on an element of class voteUp.
		$(document).on('click', '.voteUp', function(e){
			// $(this) points to the image, where the user has clicked, we assign that = $(this), because inside the ajax call, $(this) points to different element
			var that = $(this);
			ajax({
				url: host + '/voteup/' + that.data('photoid'), // access the data attribute photoid
				success: function(data) {
					// data variable contains the new number of upvoted votes, which is in the form of string
					var parseData = JSON.parse(data.response);
					that.find('h4').html(parseData.votes); // change the h4 element of the clicked image
				}
			})
		});
		
		// listen for click event on an element of class delete
		$(document).on('click', '.delete', function(e) {
			// $(this) points to the image, where the user has clicked, we assign that = $(this), because inside the ajax call, $(this) points to different element
			var that = $(this);
			ajax({
				url: host + '/delete/' + that.data('photoid'), // access the data attribute photoid
				success: function(data) {
					// the filename of the image is deleted from the database, so rerender the page
					renderList();
				}
			})
		});
		
		function uploadNow(){
			// to create animation effect
			$('.progress').fadeIn(100);
			var uploadURL = host + '/upload';
			var uploadFile = $('.uploadPic');
			if(uploadFile.val() != '') {
				// create a new form to programatically submit using ajax call
				var formData = new FormData();
				// formData is a dictionary,so create a key called 'upload' and value as the uploaded file
				formData.append('upload', uploadFile[0].files[0]);
				// perform the ajax post request to submit
				ajax({
					method: 'post',
					url: uploadURL,
					success: function(e){
						// upon completion of the upload, provide fade out animation
						$('.progress').fadeOut(200);
						// the upload button should be emptied out
						uploadFile.val('');
					},
					// function which is responsible for getting how many bytes are transferred
					progress: function(e) {
						// if server is actively providing the progress of the upload
						if(e.lengthComputable) {
							// e.loaded is the amount actually transferred, e.total is the total payload
							var perc = Math.round((e.loaded * 100) / e.total);
							// change the width of progress div, to display the progress
							$('.progress').css('width', (perc + '%'));
						}
						
					},
					payload: formData
				})
			}
		}
	</script>


</head>
<body>
	<div class="container">
		<div class="topDeck">
			<div class="logo">
				<h1>PhotoGRID</h1>
			</div>
			<div class="controls">
				<input type="file" name="uploadPic" class="uploadPic">
				<button id="doUpload">Upload</button>
				<div class="progressBarDiv">
					<div class="progress"></div>
				</div>
				<h5 class="status"></h5>
			</div>
		</div>
		<div class="gallery">
			<ul>
				<!-- Repeat the following <li> structure for every image -->
				 <!-- 
					 <li>
					<div class="overlay">
					<div class="voteCtrl">
						<a href="#" class="voteUp">
							<img src="/images/voteup.png" alt="Click Here to Vote Up !">
							<h4>100</h4>
						</a>
					</div>
					</div>
					<div class="thumbnail">
						<img src="/images/someimage.jpg" alt="">
					</div>
				</li>
				<!-- End Repeat -->
                -->

			</ul>
		</div>
	</div>
</body>
</html>